
{% extends "base.html" %}
{% load compress humanize staticfiles hc_extras %}

{% block title %}Add twiliovoice - healthchecks.io{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>VOICE CALL</h1>

    <p>
        Receive a vocie call to a specific phone number of your choice when a
        check status changes
    </p>

    <h2>Integration Settings</h2>

    <form method="post" class="form-horizontal" action="{% url 'hc-add-channel' %}">
        {% csrf_token %}
        <input type='hidden' name='kind' value='twiliovoice' />
        <div class="form-group ">
            <label for="id_label" class="col-sm-2 control-label">Phone Number</label>
            <div class="col-sm-6">
                <input
                    id="id_label"
                    type="text"
                    class="form-control"
                    name="value"
                    placeholder="Phone Number"
                    value="">

                
                <span class="help-block">
                    Make sure the phone number starts with "+" and  has the
                    country code.
                </span>
                
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save Integration</button>
            </div>
        </div>
    </form>
</div>
</div>

{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endcompress %}
{% endblock %}
