{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Help Center - healthchecks.io{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">

        <h3>Welcome to the help videos </h3>
        <p>
            Healthchecks.io is an open source project on
            <a href="https://github.com/healthchecks/healthchecks">GitHub</a>
        </p>
        <div class="row">
            <div class="col-sm-12">
                {% if help_videos %}
                    {% for help_video in help_videos %}
                    <h3>{{ help_video.header }}</h3>
                    <p>{{ help_video.description }}</p>
                    <iframe width="960" height="615" src="{{ help_video.video_link }}"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    {% endfor %}
                {% else %}
                <div class="alert alert-info">There are currently no videos available.</div>
                {% endif %}
                </div>
        </div>

    </div>
</div>
{% endblock %}